body {
  font-family: "Roboto", sans-serif;
}
.navbar img {
  height: 3em;
}
.navbar {
  background-color: #003c64;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid white;
}
.navbar a {
  color: white !important;
  font-size: 1em;
}
.navbar .nav-item.active a {
  color: #ffcb05 !important;
}
.twogrid {
  display: grid;
  gap: 2em;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
}
.threegrid {
  display: grid;
  gap: 2em;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
}
.container.twogrid span {
  font-size: 1.25rem;
  font-weight: normal;
}
.imgcol {
  text-align: center;
}
.twogrid img {
  max-width: 100%;
}
.threegrid img {
  width: 18em;
  max-width: 100%;
  height: auto;
}
.results h1 {
  font-size: 1.5em;
  margin-top: 3em;
}
.results h2 {
  font-size: 1.25em;
  margin-top: 2em;
}
.results h3 {
  font-size: 1em;
  margin-top: 1.5em;
}
.sv-root-modern .sv-footer__complete-btn {
  background-color: #003c64 !important;
}

.banner {
  background-color: #007bc2;
  min-height: 20em;
  color: white;
  display: flex;
  align-items: center;
}

.banner .container {
  display: flex;
  align-items: center;
  padding-bottom: 2em;
  flex-direction: column;
  justify-content: center;
}

.banner .container > div {
  padding: 1em 0em;
  text-align: center;
}

.banner img {
  height: 10em;
}

.banner .button {
  color: #003c64;
  background-color: white;
  padding: 0.5em 1em;
}
.surveygrid {
  display: grid;
  margin-top: 4em;
}

.surveygrid .leftgrid h2 {
  font-size: 1.5em;
}

.surveygrid .leftgrid hr {
  margin: 2em 4em 2em 0em;
}

.surveygrid .leftgrid h3 {
  font-size: 1em;
}

.surveygrid .rightgrid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 42em);
}
.surveygrid .rightgrid h2 {
  font-size: 1em;
}
.othersurveys {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  grid-gap: 2em;
}
.othersurveys > div {
  padding-top: 1em;
  background-color: #f1f1f1;
}
.othersurveys h3 {
  font-size: 1em;
  font-weight: normal;
  margin-top: 1em;
}
.othersurveys img {
  height: 8em;
}
footer {
  margin-top: 2.5em;
  padding-top: 2.5em;
  border-top: 1px solid #bfbfbf;
}
footer .footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
}
footer ul > div {
  width: 100%;
}
footer ul > li {
  list-style: none;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  white-space: nowrap;
}
.buttonOverview {
  background-color: white;
  color: #003c64;
  padding: 0.5em 1em;
  display: inline-block;
  margin-top: 2em;
}
.surveyOverviewBox > .container + .container {
  margin-top: 2em;
}
.rightgrid {
  margin-top: 4em;
}
@media (min-width: 768px) {
  .banner .container {
    justify-content: space-between;
    flex-direction: row;
  }
  .banner .container > div {
    text-align: left;
    padding: 0em 1em;
  }
  .rightgrid {
    margin-top: 0;
  }
  .surveygrid {
    grid-template-columns: 1fr 2fr;
  }
  .navbar-collapse {
    display: flex;
    justify-content: space-between;
  }
  footer ul {
    display: flex;
    padding: 2.5em 0em;
  }
  .credits {
    justify-content: flex-end;
  }
}
