{% extends "open_survey_tool/base.html" %}
{% block body %}
    <nav class="navbar navbar-dark navbar-expand-md">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">
                {% load static %}
                <img src='{% static "img/Logo_SagsDerPolizeiDE.png" %}' height="200" alt="SDP Logo"/>
            </a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    {% url 'index' as index %}
                    <li class="nav-item {% if request.get_full_path == index %}active{% endif %}">
                        <a class="nav-link" href="{% url 'index' %}">Start</a>
                    </li>
                    {% url 'survey_overview_all' as surveys_overview_all %}
                    <li class="nav-item {% if request.get_full_path == surveys_overview_all %}active{% endif %}">
                        <a class="nav-link" href="{% url 'survey_overview_all' %}">Polizeipräsidium Heilbronn</a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    {% url 'internal_results' as internal_results %}
                    <li class="nav-item {% if request.get_full_path == internal_results %}active{% endif %}">
                        <a class="nav-link" href="{% url 'internal_results' %}">Detail Auswertung</a>
                    </li>
                    {% url 'reporting' as reporting %}
                    <li class="nav-item {% if request.get_full_path == reporting %}active{% endif %}">
                     <a class="nav-link" href="{% url 'reporting' %}">PDF Report</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div style="min-height: calc(100vh - 18em)">
        {% block content %} {% endblock %}
    </div>

{% endblock body %}
