{% extends "open_survey_tool/base.html" %} {% block body %}
{% include "open_survey_tool/navbar.html" %}

<div style="min-height: calc(100vh - 18em)">
  {% block content %} {% endblock %}
</div>
<footer>
  <div class="container footer">
    <ul>
      <li><a>Impressum</a></li>
      <li><a>Datenschutz</a></li>
      <li><a>Kontakt</a></li>
    </ul>
    <ul class="credits">
      <li>2021 | Sag's der Polizei</li>
    </ul>
  </div>
  <div
    style="
      text-align: center;
      font-size: 24px;
      background-color: red;
      margin: 8px;
    "
  >
    Dies ist eine reine DEMO-Seite.
  </div>
</footer>

{% endblock body %}
