<nav class="navbar navbar-dark navbar-expand-md">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}"
      >{% load static %}<img src={% static "img/Logo_SagsDerPolizeiDE.png" %}
      height="200"/></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        {% url 'index' as index %}
        <li
          class="nav-item {% if request.get_full_path == index %}active{% endif %}"
        >
          <a class="nav-link" href="{% url 'index' %}">Start</a>
        </li>
        {% url 'surveys' as surveys %}
        <li
          class="nav-item {% if request.get_full_path == '/surveys/overview' %}active{% endif %}"
        >
          <a class="nav-link" href="{% url 'surveys' %}overview"
            >Polizeipräsidium Heilbronn</a
          >
        </li>
      </ul>
      <ul class="navbar-nav">
        {% url 'reporting' as reporting %}
        <li
          class="nav-item {% if request.get_full_path == reporting %}active{% endif %}"
        >
          <!--<a class="nav-link" href="{% url 'reporting' %}">Über das Projekt</a>-->
        </li>
      </ul>
    </div>
  </div>
</nav>
