<nav class="navbar navbar-dark navbar-expand-md">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}"
      >{% load static %}<img src={% static "img/Logo_SagsDerPolizeiDE.png" %}
      height="200"/></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% url 'index' as index %}
        <li
          class="nav-item {% if request.get_full_path == index %}active{% endif %}"
        >
          <a class="nav-link" href="{% url 'surveys' %}overview"
            >Polizeipräsidium Heilbronn</a
          >
        </li>
        {% url 'survey_view' 1 as surveys %}
        <li
          class="nav-item {% if request.get_full_path == surveys %}active{% endif %}"
        >
          <a class="nav-link" href="{% url 'survey_view' surveyid %}"
            >Fragebogen</a
          >
        </li>
        <div></div>
        {% url 'responses' as responses %}
        <li
          class="nav-item {% if request.get_full_path == results %}active{% endif %}"
        >
          <a class="nav-link" href="{% url 'responses' %}view/{{surveyid}}"
            >Ergebnisse</a
          >
        </li>
        {% url 'reporting' as reporting %}
        <!--<li
          class="nav-item {% if request.get_full_path == reporting %}active{% endif %}"
        >
          <a class="nav-link" href="{% url 'reporting' %}">Reporting</a>
        </li>
        {% url 'response_internal_view' as internal_responses %}
        <li
          class="nav-item {% if request.get_full_path == internal_responses %}active{% endif %}"
        >
          <a class="nav-link" href="{% url 'response_internal_view' %}"
            >Internal Responses</a
          >
        </li>-->
      </ul>
    </div>
  </div>
</nav>
